* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
}

/* Header */
header {
    margin-bottom: 1rem;
}
.mynav .navbar-brand{
    margin-left: 5rem;
    margin-right: 2rem;
}
.mynav .mynav__logo {
    width: 180px;
    height: 50px;
}

.mynav .mynav__menu{
    margin-right: 3rem;
}

.mynav .mynav__menu li{
    margin-right: 1rem;
    font-weight: 700;
}

.mynav .mynav__search {
    border: 2px solid #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    margin-right: 3rem;
}

.mynav .mynav__search input {
    border: none;
    background-color: transparent;
    width: 15rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.mynav .mynav__search input:focus {
    outline: none;
    box-shadow: none;
}

/* Loại bỏ hiệu ứng autofill */
.mynav .mynav__search input:-webkit-autofill,
.mynav .mynav__search input:-webkit-autofill:hover, 
.mynav .mynav__search input:-webkit-autofill:focus, 
.mynav .mynav__search input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 9999s ease-in-out 0s;
    color: #000 !important;
}


.mynav .mynav__search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #317923;
    color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
}

.mynav .mynav__search-icon i {
    font-size: 1rem;
}

/* #317923
#FDCE26
 */

 .mynav .other {
    font-weight: 700;
    align-items: center;
 }
 .mynav .other a{
    margin-right: 2rem;
 }
 .mynav .other .icon{
    background-color: #317923;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    border: 1px solid #317923;
    color: #fff;
    transition: all .5s;
    padding: 1.2rem;
    cursor: pointer;
 }
 .mynav .other .icon:hover{
    background-color: white;
    color: #317923;
    
 }
 .mynav a {
    transition: color 0.3s ease-in-out;
 }
 .mynav a:hover {
    color:#317923;
 }
 .mynav__menu .nav-link.active {
    color: #317923; /* Đổi sang màu cam hoặc màu bạn thích */
}

/* Banner */

.banner {
    padding: 0;
}
