* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.title::after {
    content: "";
    width: 30%;
    height: 3px; /* Độ dày của đường kẻ */
    display: block;
    background-image: linear-gradient(to right, #317923, #FDCE26); /* Gradient từ xanh lá sang vàng */
}




.section {
    margin-bottom: 5rem;
}

/* Header */
header {
    margin-bottom: 1rem;
}
.mynav .navbar-brand{
    margin-left: 5rem;
    margin-right: 2rem;
}
.mynav .mynav__logo {
    width: 180px;
    height: 50px;
}

.mynav .mynav__menu{
    margin-right: 3rem;
}

.mynav .mynav__menu li{
    margin-right: 1rem;
    font-weight: 700;
}

.mynav .mynav__search {
    border: 2px solid #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    margin-right: 3rem;
}

.mynav .mynav__search input {
    border: none;
    background-color: transparent;
    width: 15rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.mynav .mynav__search input:focus {
    outline: none;
    box-shadow: none;
}

/* Loại bỏ hiệu ứng autofill */
.mynav .mynav__search input:-webkit-autofill,
.mynav .mynav__search input:-webkit-autofill:hover, 
.mynav .mynav__search input:-webkit-autofill:focus, 
.mynav .mynav__search input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 9999s ease-in-out 0s;
    color: #000 !important;
}


.mynav .mynav__search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #317923;
    color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
}
.mynav .mynav__search a:hover {
    color: #000; 
}

.mynav .mynav__search-icon i {
    font-size: 1rem;
}

/* #317923
#FDCE26
 */

 .mynav .other {
    font-weight: 700;
    align-items: center;
 }
 .mynav .other a{
    margin-right: 2rem;
 }
 .mynav .other .icon{
    background-color: #317923;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    border: 1px solid #317923;
    color: #fff;
    transition: all .5s;
    padding: 1.2rem;
    cursor: pointer;
 }
 .mynav .other .icon:hover{
    background-color: white;
    color: #317923;
    
 }
 .mynav a {
    transition: color 0.3s ease-in-out;
 }
 .mynav a:hover {
    color:#317923;
 }
 .mynav__menu .nav-link.active {
    color: #317923; /* Đổi sang màu cam hoặc màu bạn thích */
}

/* Banner */

.banner {
    padding: 0;
}


/* Category */

.category ul li button {
    color: #317923;
    font-weight: 700;
}
.category ul li button:hover {
    color: #FDCE26;
}

.category .nav-pills .nav-link.active {
    background-color: #317923 !important;
    color: #fff !important;
}

.category__item .card {
    position: relative; /* Để lớp phủ đúng vị trí */
    background-image: url(../IMG/bookIMG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Tránh lớp phủ tràn ra ngoài */
}

.category__item .card {
    position: relative;
    height: 200px;
    background-image: url(../IMG/bookIMG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Tránh lớp phủ tràn ra ngoài */
    margin-bottom: 1rem;
}

.category__item .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ đen mờ 50% */
    transition: opacity 0.5s ease-in-out; /* Hiệu ứng mờ dần */
    opacity: 1; /* Mặc định hiển thị */
    cursor: pointer;
}

.category__item .card:hover::before {
    opacity: 0; /* Khi hover, lớp phủ mờ dần rồi biến mất */
}



.category__item .card-body {
    color: black;
    text-align: center;
}


/* Book */
.book .card  {
    margin-right: 2rem;
    
}

.book .card img {
    width: 100%;
    height: 250px;
    
}

.book .card-body .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book .card-body .card-price p{
    margin: 0;
    font-weight: 700;
    color: rgb(243, 85, 85);
    font-size: 1.2rem;
}
.book .card-body .card-price .card-promotion{
    background-color: rgb(243, 85, 85);
    border: 1px solid rgb(243, 85, 85);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/* Playlist */

/* Căn giữa theo chiều dọc */
.playlist__item {
    display: flex;
    flex-direction: column; /* Sắp xếp hình và chữ theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    height: 100%; /* Chiều cao 100% của cột */
    text-align: center; /* Căn giữa chữ */
}

/* Hình ảnh */
.playlist__row .playlist__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../IMG/playlist1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px; /* Tạo khoảng cách giữa ảnh và chữ */
}

/* Contact */
/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    background-image: url('../IMG/don.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Lớp phủ đen mờ */
.contact__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu đen mờ */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nội dung chính */
.contact__text {
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1); /* Làm mờ nội dung một chút */
    backdrop-filter: blur(5px); /* Hiệu ứng mờ đẹp */
    border-radius: 10px;
}

/* Tiêu đề */
.contact__text p:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

/* Form */
.contact__text .form-control {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Placeholder màu trắng */
.contact__text .form-control::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

/* Button */
.contact__text .btn {
    background-color: #FDCE26;
    border: none;
    font-weight: bold;
}

.contact__text .btn:hover {
    background-color: #317923;
}

/* Footer */
/* Footer */
.footer {
    padding: 20px 0;
    color: black;
}





.footer__col h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__col img {
    width: 180px;
    height: 40px;
    margin-bottom: 1rem;
}
.footer__col p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.footer__col ul {
    list-style: none;
    padding: 0;
}

.footer__col ul li {
    margin-bottom: 5px;
}

.footer__col ul li a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}

.footer__col ul li a:hover {
    color: #317923;
}

/* Mạng xã hội */
.footer__social {
    margin-top: 10px;
}

.footer__social a {
    font-size: 30px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: all .5s;
}

.footer__social a:hover {
    color: #317923;
}


