* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.title::after {
    content: "";
    width: 30%;
    height: 3px; /* Độ dày của đường kẻ */
    display: block;
    background-image: linear-gradient(to right, #317923, #FDCE26); /* Gradient từ xanh lá sang vàng */
}

.line::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-image: linear-gradient(to right, #317923, #FDCE26); /* Gradient từ xanh lá sang vàng */
    transition: all .5s;
}
.line:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}


.section {
    margin-bottom: 5rem;
}

.my-btn {
    background-color: #317923;
    padding: 5px 20px;
}

/* Header */
header {
    margin-bottom: 1rem;
}
.myheader .nav-link {
    font-weight: 500;
    margin-right: 1rem;
    color: black;
}

.myheader .nav-link.active {
    color: #fdc703;
}

.header__category a {
    font-weight: 500;
    margin-right: 1rem;
    transition: all .5s;
}
.header__category a:hover {
    color: #317923;
}


/* User */


.user__row .col-3 {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #dee2e6;
}
.user .user__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user .user__information h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.user__avatar {
    background-color: #c7c8c8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user__status {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user__status i {
    color: #FDCE26;
    font-size: 2rem;
    margin-right: 1.5rem;
}

.user__status p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #FDCE26;
}

.user__register {
    background-color: #317923;
    padding: 10px;
    border: 2px solid #317923;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
    color: white;
}
.user__register:hover {
    background-color: white;
    color: #317923;
}
.user__register p {
    margin: 0;
    font-weight: bold;
}

.user__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}
.user__item:hover {
    background-color: #f2f2f2;
}

.user__item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #317923;
}
.user__item a {
    text-decoration: none;
    color: #317923;
}
.user__item p {
    margin: 0;
    color: #317923;
}

.user__avatar__change {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
    padding-top: 3rem;
}

.user__avatar__change .user__avt__display {
    background-color: #c7c8c8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.user__avatar__change button {
    color: white;
    background-color: #317923;
    border-radius: 50px;
    border: 2px solid #317923;
}
.user__avatar__change button:hover {
    color: #317923;
    background-color: white;
    border: 2px solid #317923;
}

.user__form label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.form__item {
    margin-bottom: 1rem;
}

.form__group .col-8 {
    margin-right: 1rem;
}
.form__group .col-3 {
    border: none;
    padding: 0;
    margin: 0;
}
.form__group .col-3 select{
    width: 100%;
    padding: 7px;
    background-color: #e9ecef;
    border-radius: 10px;
    border: none;
}

/* Footer */

.footer {
    padding: 20px 0;
    color: black;
}





.footer__col h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__col img {
    width: 180px;
    height: 40px;
    margin-bottom: 1rem;
}
.footer__col p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.footer__col ul {
    list-style: none;
    padding: 0;
}

.footer__col ul li {
    margin-bottom: 5px;
}

.footer__col ul li a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}

.footer__col ul li a:hover {
    color: #317923;
}

/* Mạng xã hội */
.footer__social {
    margin-top: 10px;
}

.footer__social a {
    font-size: 30px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: all .5s;
}

.footer__social a:hover {
    color: #317923;
}

/* Responsive */
@media (max-width: 991.98px) {
    .icon__search {
        display: block !important;
    }
    #myform {
        display: none !important;
    }
    #user__tab {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .icon__search {
        display: none !important;
    }
    #myform {
        display: block !important;
    }
    #myform input{
        margin-bottom: 1rem;
    }
    .category__item {
        margin-bottom: 1rem;
    }
    .user__tab__item p {
        display: none;
    }
}
@media (min-width: 991.98px) {
    .icon__search {
        display: none !important;
    }
    #myform {
        display: flex !important; /* Đảm bảo form không bị ẩn */
    }
    .user__responsive {
        display: none;
    }
}

