/* body */
.row{
  margin-bottom: 10px;
  margin-top: 10px;
}
body{
}
.card{
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* navbar */


/* sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 50vh;
  background: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 20px 0;
}

.sidebar h4 {
  font-weight: bold;
  color: #1e3a8a; /* Màu xanh đậm */
  display: flex;
  align-items: center;
}

.sidebar h4::before {
  content: "🚀";
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .nav {
  margin-top: 20px;
}

.sidebar .nav-item {
  margin-bottom: 10px;
}

.sidebar .nav-link {
  font-size: 16px;
  color: #1e3a8a;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
  background-color: #e0edff;
  font-weight: bold;
}

.sidebar .nav-link::before {
  margin-right: 10px;
}

.sidebar .upgrade-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar .upgrade-btn:hover {
  background-color: #0056b3;
}
/*content*/

/*row 1 */

/* row 2 */

/* row 3 */

/* row 4 */
